
.buttons{
    width: 210px;
    display: flex;
    justify-content: space-between;
}

#button {
    background-size: 70px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    width: 100px;
    color: rgb(0, 0, 0);
}

#button:active{
   scale: 1.1;
}