body {
    background-color: black;
}

* {
    filter: blur(0.2px);
}

.bigBoiContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

#input {
    border: 2px solid rgb(194, 184, 184);
    width: 200px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.424);
    outline: none;
    color: white;
    font-size: 15px;
}

#submitButton:active {
    transform: translateY(1px);
    scale: 0.95;
}

::placeholder {
    color: rgba(255, 255, 255, 0.738);
}

.signInContainer {
    display: flex;
    flex-direction: column;
}

.toLogin {
    display: flex;
}

#navigateLink {
    color: white;
}

#navigateLink:hover {
    text-shadow: rgb(255, 255, 255) 1px 1px 5px;
}

#text {
    color: white;
}

.signUp {
    display: flex;
}

#toSignUp {
    color: white;
}

#toSignUp:hover {
    text-shadow: 1px 1px 5px white;
}